.success{
    color: green;
}

.danger{
    color: red;
}
body{
    background: #eee;
}

#content{
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;

    max-height: 270px;
    overflow: hidden;

    /* transition */

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}
#content.open{
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more{
    background: #1594e5;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width:150px ;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    text-decoration: none;

}

#message{
    width: 90px;
    background: #ddaaaa;
    padding: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ff7777;
    font-weight: bold;
    opacity: 0;

    /* set transitions up */

    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;

}
#message.show{
 opacity: 1;

 /* set transition up */
 /* -webkit-transition: opacity 0.7s;
 -moz-transition: opacity 0.7s;
 transition: opacity 0.7s; */

}

#colour-changer{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: #fff;
    -webkit-transition: background 0.7s;
    -moz-transition: background 0.7s;
    transition: background 0.7s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('images/background-crew-tablet.jpg') no-repeat center center/ cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: 500px;
    background-color: rgb(245, 217, 181);
    border-radius:10px;
    box-shadow: 0 0 4px rgb(149, 141, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Timer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 41);
    color: white;
    width: 70%;
    font-size: 45px;
    border-radius: 5px;
}

.controls{
   display: flex;
   justify-content: center ;
   align-items: center;
   gap: 10px;
   width: 50%;
   margin-top: 20px;

}
.start{
    background-color: rgb(23, 132, 191);
    padding: 5px 10px;
    border-radius: 3px;
    width: 70px;
    text-align: center;


}
.reset{
    background-color:rgb(24, 154, 154);
    padding: 5px 10px;
    border-radius: 3px;
    width: 70px;
    text-align: center;



}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('/images/background-crew-tablet.jpg') no-repeat center center/ cover;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 3px;

}
.timer{
    width:100%;
    font-size: 72px;
    /* margin: 0px auto; */
    text-align: center;
    padding: 35px;
    /* border:2px solid red; */

}
.buttons{
    text-align: center;
}

button{
    margin: 0 10px;
    border: none;
    font-size: 30px;
    padding: 12px;
    border-radius: 20px;
    width: 130px;
}
#startStopBtn{
    background-color: rgb(10, 227, 10);
}
#resetBtn{
    background-color: orange;
}
#pause{
    background-color: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:50%;
    /* border: 2px solid green; */
}
.accordion-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    /* border: 2px solid red; */
}
.acc{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    gap: 14px;
    width: 100%;
    /* border: 2px solid blue; */
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    /* position: relative; */

}
.Local-farmers, .Major-credits, .Organic-ingredients{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    /* border:d; */
    /* border-bottom:1.8px solid rgba(225, 225, 225, 0.9); */
}
.Local-farmers button, .Major-credits button,.Organic-ingredients button{
    margin-left: auto;
    background-color: white;
    color: goldenrod;
    border: 2px solid goldenrod;
    padding: 1px;
    border-radius: 2px;
}
.Local-farmers h5, .Major-credits h5, .Organic-ingredients h5 {
      letter-spacing:4px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.answers{
    position: relative;
}

.answers p{
    display: none;
}
.answers p.show{
    display: block;
    border: 2px solid red;
    position: absolute;
    z-index: 1;
    top: 50%;
}

/* .fa-minus{
    
} */
.fa-minus.show{
    display: block;
}
